<div layout="column" flex layout-fill ng-cloak>
  <md-content style="width:400px; height: 400px;" md-theme="altTheme">
    <section>
      <md-subheader class="md-primary">Column Description:</md-subheader>
      <md-list layout-padding>
        <md-list-item class="md-3-line" ng-repeat="param in rule.columns">
            <div class="md-list-item-text">
              <h4>Param Code: {{param.code}}</h4>
              <h3>Type: {{param.type}}</h3>
              <p>
                Description: {{param.description}}
              </p>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </section>
  </md-content>
</div>
