
<div>
  <md-card style="margin:0px">
    <md-input-container style="margin:15px;">
        <label>Filter values</label>
        <input type="text" ng-model="filterName">
    </md-input-container>
    <div ng-hide="true">
      {{(filteredItems = (rule.rows | filter: filterName))}}
    </div>
  </md-card>
  <mdt-table
    table-card="{visible: true, title: rule.name,columnSelector: true}"
    selectable-rows="true"
    animate-sort-icon="true"
    mdt-row="{
                      data: filteredItems,
                      'column-keys': [
                          'row',
                          'PROD_FORM_CODE',
                          'QTY_MIN',
                          'QTY_MAX',
                          'DISC_MIN',
                          'DISC_MAX'
                      ]
                      }">
    <mdt-header-row>
      <mdt-column align-rule="right" column-sort="true">Row num.</mdt-column>
      <mdt-column align-rule="left" column-sort="true">Product Form.</mdt-column>
      <mdt-column align-rule="right" column-sort="true">Minimun Qty.</mdt-column>
      <mdt-column align-rule="right" column-sort="true">Maximun Qty.</mdt-column>
      <mdt-column align-rule="right" column-sort="true">Minimun Disc.</mdt-column>
      <mdt-column align-rule="right" column-sort="true">Maximum Disc.</mdt-column>
    </mdt-header-row>
  </mdt-table>
</div>

<div>
  <md-button class="md-primary md-raised" ng-click="showAdvanced()">
    List of parameters
  </md-button>
</div>
