
<div>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span>{{rule.name}}</span>
    </div>
  </md-toolbar>

  <md-table-container>
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column ng-repeat="column in rule.columns">
            <span>{{column.description}}</span>
          </th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="canvass" md-select-id="canvass.row" md-auto-select ng-repeat="canvass in rule.rows">
          <td md-cell ng-repeat="column in rule.columns" ng-switch on="column.type">

<!-- PRODUCT PHFORM -->
            <div ng-switch-when="PROD_FORM">
              <md-select ng-model="canvass.PROD_FORM_CODE_PK" placeholder="select an item">
                <md-option ng-value="item.id" ng-repeat="item in rule.PROD_FORM_CODE">{{item.description}}</md-option>
              </md-select>
            </div>
<!-- PACKAGE -->
            <div ng-switch-when="PKG">
              <md-select ng-model="canvass.PKG_CODE_PK" placeholder="select an item">
                <md-option ng-value="item.id" ng-repeat="item in rule.PKG_CODE">{{item.description}}</md-option>
              </md-select>
            </div>
<!-- NUM, TEXT, ... -->
            <div ng-switch-default>
              {{canvass[column.code]}}
            </div>

          </md-cell>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</div>

<div>
  <md-button class="md-primary md-raised" ng-click="showAdvanced()">
    List of Columns
  </md-button>
</div>
